html,
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
   
  background-color: #f2f5f4;
  color: #432000;
  -webkit-user-select: none;
  user-select: none; /*so that users can't select anything*/
  background-image: url(https://media.istockphoto.com/id/521811679/photo/close-up-of-full-shopping-cart-in-grocery-store.webp?b=1&s=170667a&w=0&k=20&c=8oSg1bgffje7pDvhRIIAGU0Sabp0YdwNVOPZUL_M-io=);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover ;
}
p {
    background-color: #131113;
}

img {
  width: 300px;
  height: 250px;
  margin: 0 auto;
}

input {
  color: #601829;
  background-color: #c0c8d7;
  border: 1px solid #000000;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  margin: 10px 0;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 10px;
  flex-wrap: wrap;

  padding: 0;
}

ul li {
  flex-grow: 1;
  padding: 15px;
  border-radius: 5px;

  box-shadow: 1px 2px 3px rgba(0 0 0 /0.5);
  color: #a52a2a;
  font-weight: bold;
  text-align: center;

  cursor: pointer;
  background-color: #4aecde;
}

ul li:hover {
  background: #81061c;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
}

/*  adding fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* adding fade-out animation */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* smooth transition */
.transition {
  transition: all 0.3s ease;
}

/* sorting buttons container */
.sort-buttons-container {
  margin: 20px 0;
}

#empty-list {
  display: none;
  text-align: center;
  font-style: italic;
  color: rgb(168, 60, 130);
}

/* toast container */
#toast-container {
  position: fixed;
  z-index: 9999;
}

/*  toast message */
.toast {
  display: inline-block;
  padding: 12px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}

/* toast message animation */
.toast.show {
  opacity: 1;
}

/* bought item */
.bought {
  opacity: 0.5;
  text-decoration: line-through;
}

#action-button {
  display: flex;
  padding-inline: 0.3em;
}
/* add / clear button style */
#add-button,#mark-button,
#clear-button {
  color: #fdfdfd;
  /*background-color: #ac485a;*/
  border: 20;
  padding: 10px;
  border-radius: 6px;
  font-size: 20px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
}
#add-button {
    background-color: #34b816;
    }

#clear-button {
  margin-left: auto;
}#mark-button{
    background-color: #240b84;
}#clear-button{
    background-color: #a50303;
}

#add-button:hover {
  font-weight: bold;
}

#clear-button:hover {
  font-weight: bold;
}
#mark-button:hover{
    font-weight: bold;
  }
  
#mark-button {
    margin-left: auto;
  }
 